
header{
    font-size: 50px;
    position: relative;
    left: px;
    padding-left: 50px;
    background-color: rgb(0, 1, 12);
    color: aliceblue;
 }
 
.login{
position: relative;
width: 400px;
top: 200px;
left: 405px;

}

 button {
    --color: rgb(0, 1, 12);
    font-family: inherit;
    display: inline-block;
    width: 9em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    top: 200px;
    left: 410px;
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: rgb(0, 1, 12);
    transition: background 0s;
   }